.new-collection {
  overflow: hidden !important;
  .image-row {
    display: flex;
    width: 100%;
    img {
      width: 33.33%;
      position: relative;
    }
    @media (max-width: 600px) {
      img:not(:first-child) {
        display: none;
      }
    }
    h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 300;
      font-size: 46px;
      line-height: 54px;

      text-align: center;

      color: #ffffff;

      opacity: 0.85;
    }
    @media (max-width: 576px) {
      h3 {
        font-size: 16px;
        top: 20%;
      }
    }
    @media (max-width: 600px) {
      img {
        width: 100%;
      }
    }
  }
}

.category {
  margin-top: 100px;
  position: relative;
  width: 100%;
  .window {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
  }
  .arrow {
    background-color: #e0bea2;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 80%;
    z-index: 1;
    text-align: center;
    cursor: pointer;
  }
  .left_arrow {
    left: 1%;
    img {
      transform: rotate(180deg);
      margin-top: 6px;
    }
    @media (max-width: 1000px) {
      left: 3% !important;
    }
    @media (max-width: 600px) {
      left: 5% !important;
    }
  }
  .right_arrow {
    left: 96%;
    img {
      margin-top: 6px;
    }
    @media (max-width: 1000px) {
      left: 90% !important;
    }
    @media (max-width: 600px) {
      left: 85% !important;
    }
  }

  .slider {
    display: flex;
    transition: 0.5s;
    .slider-item {
      position: relative;
      margin-right: 5%;
      height: 450px;

      .item-body {
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: 0;

        button {
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          margin-top: auto;
          overflow: hidden;
          width: 100%;
          border: none;
          background: rgba(224, 190, 162, 0.75);
          backdrop-filter: blur(3px);
          height: 40px;
          text-align: center;

          color: #ffffff;
        }
      }

      @media screen and (max-width: 1200px) {
        width: calc(100% / 3);
      }

      @media screen and (max-width: 1000px) {
        width: calc(100% / 2);
        margin-right: 20%;
      }

      @media (max-width: 576px) {
        img {
          width: 150px;
          height: 230px;
        }
      }
      @media screen and (max-width: 576px) {
        height: 230px;
      }
    }
  }
}

.subscribe {
  overflow: hidden !important;

  form {
    width: 600px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  margin-top: 100px;
  text-align: center;
  input {
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
    height: 50px;
    border: 0.5px solid #252525;
    text-align: center;
    border: 0.5px solid #252525;
    margin-bottom: 20px;
    margin-left: 50%;
    @media (max-width: 600px) {
      width: 50%;
    }
  }

  .text {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    p {
      padding: 0 7rem;
      margin-top: 30px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #252525;
    }
  }
}
