.show-wrapper {
  .css-1nmdiq5-menu {
    * {
      background-color: #ffffff !important;
      color: #252525;
    }
  }
  margin-top: 100px;
  

  .category-list {
    width: 160px;
    a {
      margin: 20px 0;
      display: block;
      color: #252525;
      transition: ease-in-out 0.2s;
      &:hover {
        color: #e0bea2;
      }
    }
    h4 {
      margin-top: 15px;
    }
  }
  .content,
  .mob-filter {
    .filter {
      margin-top: 12px;
    }
    .css-13cymwt-control {
      border: none !important;
    }
    .css-tj5bde-Svg {
      color: #e0bea2;
    }
    .css-1u9des2-indicatorSeparator {
      display: none;
    }
    .css-t3ipsp-control {
      border: none !important;
      box-shadow: none;
    }
  }
  .gallary {
    margin-left: 30px;
    .items {
      flex-wrap: wrap;
      height: auto;
      width: auto;
    }
  }
  .mob-category {
    .css-1dimb5e-singleValue {
      text-align: center;
      color: #ffffff;
    }
    .css-13cymwt-control {
      border: none !important;
    }
    .css-13cymwt-control {
      background-color: #e0bea2;
    }
    .css-tj5bde-Svg {
      color: #ffffff;
    }
    .css-1u9des2-indicatorSeparator {
      display: none;
    }
    .css-1jqq78o-placeholder {
      text-align: center;
      color: #ffffff !important;
    }
    .css-1nmdiq5-menu {
      * {
        background-color: #ffffff !important;
        color: #252525;
      }
    }
    .css-t3ipsp-control {
      border: none !important;
      background-color: #e0bea2 !important;
      box-shadow: none;
    }
  }
  .mobile-version {
    @media (min-width: 600px) {
      * {
        display: none;
      }
    }
  }
  .lg-version {
    @media (max-width: 600px) {
      * {
        display: none;
      }
    }
  }
}
