.wishlist_wrapper{
    margin-top: 100px;
  .map {
    align-items: center;
    img {
      padding: 3% 0.5%;
      margin-left: 10px;
    }
    p {
      margin-top: 17px;
    }
  }
  .wishlist_block{
    .items{
        flex-wrap: wrap;
    }
  }
}